# .env.example
PORT=
MONGO_URL=

# Brevo SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
